body {
  background-color: rgba(26, 29, 37, 0)
}



.container {
  display: flex;
   /* gap: 100px 30px;  */
  /* row-gap: 10px; */
  /* height: 60  */
  /* column-gap: 30px; */
  /* height: 600px  */
  /* flex-flow: column-wrap; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(38, 56, 114);
}

.item {
  width: 200px;
  height: 200px;
  background-color: rgb(119, 212, 224)
} 
.item-3 {
  order: 2;
  /* align-self: flex-end; */
  /* flex:-2 2 30px; */
  /* flex-shrink: 2; */
}
/*
}
 .item-3 {
  flex-grow: 2;
} */